<courses-header></courses-header>
<courses-toolbox 
    (onSearch)="searchCriteriaSubject$.next($event)" 
    (onAddCourse)="onAddEmitter.emit()"></courses-toolbox>
<div class="no-data" *ngIf="(courses$ | async)?.length == 0">
    No Data. Feel free to add new course.
</div>
<course-details 
    *ngFor="let course of courses$ | async | coursesByDateSort"
    [course]="course"
    (onDelete)="deleteCourseSubject$.next($event)"></course-details>  
<button 
    *ngIf="pageNumber > 0"
    (click)="pageSubject$.next(pageNumber - 1)">Previous page</button>    
<span>Page Number: {{ pageNumber + 1}}</span>
<button 
    *ngIf="(courses$ | async)?.length == pageSize"
    (click)="pageSubject$.next(pageNumber + 1)">Next page</button>    
<footer></footer>    