<div class="details-container">
    <div class="course-data-container">
        <div class="course-data-header">
            <div>
                <span class="course-name">{{course.name}}</span>
                <span>{{computeDurationLabel(course.duration)}}</span>
            </div>
            <div class="course-data-date">
                {{course.creationDate | date:'dd MMM yyyy'}}
            </div>
        </div>
        <div class="course-data-body">
            {{course.description}}
        </div>
    </div>
    <div class="course-actions-container">
        <button>Edit course</button>
        <button (click)="deleteCourse(course.id)">Delete course</button>
    </div>
</div>