<div class="header-container">
    <div class="header-element header-logo">
        <img src="../../../../assets/images/logo.png">
    </div>
    <div class="header-element breadcrumbs" *ngIf="isAuthenticated$ | async">
        <div class="breadcrumbs-element" *ngFor="let breadcrumb of breadcrumbs; let last = last;">
            <a [routerLink]="breadcrumb.path" *ngIf="!last">{{breadcrumb.name}}</a>
            <span *ngIf="!last">></span>
            <span *ngIf="last">{{breadcrumb.name}}</span>
        </div>
    </div>
    <div class="header-element user-data-container">
        <div class="header-element user-name" *ngIf="isAuthenticated$ | async">
            {{userName$ | async }}
        </div>        
        <div class="header-element">
            <a href="#" (click)="logoutClicked()">Logoff</a>
        </div>
    </div>
</div>
  