<div class="course-form">
    <form #courseForm="ngForm" (submit)="onFormSubmit(courseForm)">
        <div class="course-form-row">
            <label class="course-form-row-title" for="title">Title</label>
            <input 
                id="title"  
                name="title"
                type="text"
                required
                minlength="3"
                maxlength="50"
                #title="ngModel"
                [(ngModel)]="course.name" >
            <div 
                class="validation-errors"
                *ngIf="title?.invalid && title.dirty">
                <div *ngIf="title.errors.required">
                    Title is required.
                </div>
                <div *ngIf="title.errors.minlength">
                    The minimum length is {{title.errors.minlength.requiredLength}}.
                </div>
            </div>
        </div>
        <div class="course-form-row">
            <label class="course-form-row-title" for="description">Description</label>
            <textarea 
                id="description" 
                name="description"
                minlength="3"
                maxlength="500"
                required
                #description="ngModel"
                [(ngModel)]="course.description"></textarea>
            <div 
                class="validation-errors"
                *ngIf="description?.invalid && description.dirty">
                {{description?.errors | json}}
            </div>
        </div>
        <div class="course-form-row">
            <label class="course-form-row-title" for="date">Date</label>
            <course-date 
                id="date"
                name="creationDate"
                required
                #creationDate="ngModel"
                [(ngModel)]="course.creationDate"></course-date>
            <div 
                class="validation-errors"
                *ngIf="creationDate?.invalid && creationDate.dirty">
                {{creationDate?.errors | json}}
            </div>
        </div>
        <div class="course-form-row">
            <label class="course-form-row-title" for="duration">Duration</label>
            <div class="course-form-row-value">
                <course-duration
                    id="duration"
                    name="duration"
                    type="number"
                    required
                    #duration="ngModel"
                    [(ngModel)]="course.duration"></course-duration>
                <span>{{course.duration | courseDuration}}</span>
            </div>
            <div 
                class="validation-errors"
                *ngIf="duration?.invalid && duration.dirty">
                {{duration?.errors | json}}
            </div>
        </div>
        <div class="course-form-row">
            <label class="course-form-row-title" for="authors">Authors</label>
            <course-authors
                id="authors"
                name="authors"
                required
                #authors="ngModel"
                [(ngModel)]="course.authors"
                [authors]="authors$ | async"></course-authors>
            <div 
                class="validation-errors"
                *ngIf="authors?.invalid && authors.dirty">
                {{authors?.errors | json}}
            </div>
        </div>
        <div class="course-form-row button-set">
            <button type="submit" [disabled]="courseForm.invalid || courseForm.pristine">Save</button>
            <button (click)="onCancelClicked()">Cancel</button>
        </div>
    </form>    
</div>  